.container {
    position: relative;
}
caption{
color:black;
 font-size: 20px;
font-weight: bold;
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
right:16px;
    font-size: 18px;
}

img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}
table,td,th{
border-collapse: collapse;
   border:1px solid #dddddd;
 text-align:center;
 color:#dddddd;
background-color:black;
 border-spacing:5px;
width:100%;
margin:0px;
}
th,td{
width:80px;
height:20px;
}